.card_grid {
  padding: 30px 0;
  background-color: #eff2f8;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card_add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 320px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.12);
  transition: 0.3s ease;
}
.card_add:hover {
  background-color: #2d2ddd;
  color: #fff;
}

.info_wrap {
  padding: 15px 0;
  padding-right: 30px;
  height: 100%;
}

.flex {
  display: flex;
}

.item_input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
}

.item_textarea {
  padding: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: 200;
  outline: none;
  width: 100%;
}

/* 페이징 css */

.paging_list_wrap {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.paging_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 35px;
}

.paging_list:last-child {
  border-bottom: none;
}

.paging_list_input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  padding: 0;
}
.paging_list_input::placeholder {
  font-size: 1em;
}

.pagination {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagingation_item {
  width: 30px;
  height: 28px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.pagingation_item:last-child {
  margin-right: 0px;
}
.pagingation_item.active {
  border: 1px solid blue;
  border-radius: 10px;
}
.pagingation_item.active a {
  color: blue;
}
.pagingation_item a {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  outline: none;
}
.pagingation_item a:hover,
.pagingation_item a:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.paging_list_btn {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}
.paging_list_btn:hover {
  color: rgba(0, 0, 0, 0.8);
}
